@model FastBudjet.Models.TransactionViewModel.IndexViewModel
@using System.Globalization;

@{
    Layout = "~/Views/Home/_Layout.cshtml";
 ViewData["RasxodCategory"] = Model.ExpenseCategories;
 ViewData["DoxodCategory"] = Model.IncomingCategories;
 ViewData["Header"] = "Операции";
 ViewData["Title"] = "Операции";
}


<div id="div_transactions_search_container" class="d-flex flex-column card_small_body pt-3 pb-1 px-3 hidden-element">

    <div class="row d-flex align-items-center pr-2">

        <div class="col-10 col-md-5 input-group pl-2 pr-0 d-flex flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text pr-0">
                    <i class="material-icons material-icons-48px align-self-center">style</i>
                </span>
            </div>
            <div class="form-group flex-grow-1">
                <label for="input_tr_search_category" class="mb-0">Категория</label>
                <input type="text" class="form-control cursor_pointer" id="input_tr_search_category" value="Выбрать категорию" readonly="">
                <div class="invalid-feedback">Неверное значение</div>
            </div>
        </div>


        <div class="col-10 col-md-5 col-lg-3 input-group pl-2 pr-0 d-flex flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text pr-0">
                    <i class="material-icons material-icons-48px align-self-center">person</i>
                </span>
            </div>
            <div class="form-group w-100">
                <label for="input_tr_search_from_to" class="mb-0">Кому</label>
                <input type="text" class="form-control" id="input_tr_search_from_to" maxlength="199">
                <div class="invalid-feedback">Ошибка: Значение очень длинное. Максимально 200 символов</div>
            </div>
        </div>


        <div class="col-10 col-md-5 col-lg-3 input-group pl-2 pr-0 d-flex flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text pr-0">
                    <i class="material-icons material-icons-48px align-self-center">mode_edit</i>
                </span>
            </div>
            <div class="form-group">
                <label for="input_tr_search_notes" class="mb-0">Комментарии</label>
                <input type="text" class="form-control" id="input_tr_search_notes" maxlength="999">
                <div class="invalid-feedback">Ошибка: Значение очень длинное. Максимально 1000 символов</div>
            </div>
        </div>


        <div class="d-flex w-100 align-items-center pt-3 pt-sm-0 pt-md-1 pl-4">

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="tr_search_checkbox_show_expenses" checked="">
                <label class="form-check-label" for="tr_search_checkbox_show_expenses">Расходы</label>
            </div>
            <div class="form-check ml-4">
                <input class="form-check-input" type="checkbox" value="" id="tr_search_checkbox_show_incomes" checked="">
                <label class="form-check-label" for="tr_search_checkbox_show_incomes">Доходы</label>
            </div>

            <button id="tr_search_clear_button" class="btn_flat ml-auto mr-2">Отменить</button>

        </div>

    </div>
</div>



<div id="div_transactions_search_container_lateral" class="lateral_right_menu card_small_body pt-3 px-0 pb-1 hidden-element">


    <div class="d-flex flex-nowrap mr-2">
        <div class="input-group-prepend">
            <span class="input-group-text pr-0">
                <i class="material-icons material-icons-48px align-self-center">style</i>
            </span>
        </div>
        <div class="form-group flex-grow-1">
            <label for="input_tr_search_category_lateral" class="mb-0">Категория</label>
            <input type="text" class="form-control cursor_pointer" id="input_tr_search_category_lateral" value="Выбрать категорию" readonly="">
            <div class="invalid-feedback">Неверное значение</div>
        </div>
    </div>


    <div class="d-flex flex-nowrap mr-2">
        <div class="input-group-prepend">
            <span class="input-group-text pr-0">
                <i class="material-icons material-icons-48px align-self-center">person</i>
            </span>
        </div>
        <div class="form-group w-100">
            <label for="input_tr_search_from_to_lateral" class="mb-0">Кому</label>
            <input type="text" class="form-control" id="input_tr_search_from_to_lateral" maxlength="199">
            <div class="invalid-feedback">Ошибка: Значение очень длинное. Максимально 200 символов</div>
        </div>
    </div>


    <div class="d-flex flex-nowrap mr-2">
        <div class="input-group-prepend">
            <span class="input-group-text pr-0">
                <i class="material-icons material-icons-48px align-self-center">mode_edit</i>
            </span>
        </div>
        <div class="form-group">
            <label for="input_tr_search_notes_lateral" class="mb-0">Комментарии</label>
            <input type="text" class="form-control" id="input_tr_search_notes_lateral" maxlength="999">
            <div class="invalid-feedback">Ошибка: Значение очень длинное. Максимально 1000 символов</div>
        </div>
    </div>


    <div class="row align-items-center mx-0 pt-3 pl-3 pr-2">

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="tr_search_checkbox_show_expenses_lateral" checked="">
            <label class="form-check-label" for="tr_search_checkbox_show_expenses_lateral">Расходы</label>
        </div>
        <div class="form-check ml-3">
            <input class="form-check-input" type="checkbox" value="" id="tr_search_checkbox_show_incomes_lateral" checked="">
            <label class="form-check-label" for="tr_search_checkbox_show_incomes_lateral">Доходы</label>
        </div>

    </div>

    <div class="d-flex w-100 mt-2">
        <button id="tr_search_clear_button_lateral" class="btn_flat ml-auto mr-2">Отменить</button>
    </div>

</div>





<div class="row mt-3 mb-0">
    <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">


        <div id="div_month_title_container" class="d-flex justify-content-between align-items-center card_small_body px-0 px-md-1">

            <div class="d-flex justify-content-center align-items-center button_icon hidden-element" id="button_previous_month">
                <i class="material-icons">keyboard_arrow_left</i>
            </div>

            <div class="month_title text-center mx-auto my-2 noselect" id="transaction_month_title">Отчет о доходах и расходах</div>

            <div class="d-flex justify-content-center align-items-center button_icon hidden-element" id="button_next_month">
                <i class="material-icons">keyboard_arrow_right</i>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
        <div class="card_small_body d-flex flex-column mt-3 pt-1 pl-3 noselect" data-select2-id="24">


            <div class="row mt-3">
                <span class="d-flex align-self-center col-lg-4 mr-2 mr-lg-0">Показать все категории:</span>

                <div class="col-lg-8 d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radio_chart_ei" id="radio_chart_ei_0" value="0" checked="">
                        <label class="form-check-label" for="radio_chart_ei_0">Расходы</label>
                    </div>
                    <div class="form-check ml-3">
                        <input class="form-check-input" type="radio" name="radio_chart_ei" id="radio_chart_ei_1" value="1">
                        <label class="form-check-label" for="radio_chart_ei_1">Доходы</label>
                    </div>
                    <div class="form-check ml-3">
                        <input class="form-check-input" type="radio" name="radio_chart_ei" id="radio_chart_ei_2" value="2">
                        <label class="form-check-label" for="radio_chart_ei_2">Оба</label>
                    </div>
                </div>
            </div>


            <div class="row mt-2">
                <div class="col-lg-4">
                    <div class="input-group">
                        <div class="form-group wrap_strict">
                            <label for="input_charts_categories_date_from">С:</label>
                            <input type="text" class="form-control datepicker" id="input_charts_categories_date_from" data-dtp="dtp_WXhms">
                            <div class="invalid-feedback">Неверное значение</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-lg-offset-2">
                    <div class="input-group">
                        <div class="form-group wrap_strict">
                            <label for="input_charts_categories_date_from">По:</label>
                            <input type="text" class="form-control datepicker" id="input_charts_categories_date_to" data-dtp="dtp_xwdxI">
                            <div class="invalid-feedback">Неверное значение</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center mt-3">
                <span>Счёт:</span>

                <div class="ml-3 w-100">
                    <select id="select_charts_account" class="form-control" style="width: 100%" tabindex="-1">
                        <option value="0">Все счета</option>

                        @foreach (var account in Model.Accounts)
                        {
                            <option value="@account.Id">@account.Name</option>
                        }
                    </select>
                    <div class="invalid-feedback">Неверное значение</div>
                    @*<span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="32" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-select_charts_account-container"><span class="select2-selection__rendered" id="select2-select_charts_account-container" role="textbox" aria-readonly="true" title="Все счета">Все счета</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>*@
                </div>
                <div class="d-none d-md-block w-50"></div>
            </div>

            <div class="d-flex justify-content-end mt-2 mb-2">
                <button type="button" id="button_charts_show_report" class="btn btn_general btn_blue">Показать отчет</button>
            </div>

        </div>
    </div>
</div>


<div id="tr_page_list_container" class="mt-0 mb-2" >
    <div class="">

        <div class="card_small_body d-flex flex-column mt-3 pt-1">

            <div id="list_transactions_header_container" class="d-flex flex-column">
                <div class="d-flex align-self-end list_total noselect">
                    <span id="list_transactions_header">Всего: <span style="color:@(Model.Summary.StartsWith("-") ? "#F54C3F;" :  "#4CAF50;")">@Model.Summary</span></span>
                </div>
                <hr class="list_divider">
            </div>

            <div id="list_transactions" class="list-group pt-0" data-type="0">
                <table class="table table-striped table-bordered table-sm table-responsive-lg table-hover mt-3" style="font-size:15px;">
                    <thead class="thead-dark noselect">
                        <tr>
                            <th></th>
                            <th>Тип</th>
                            <th>Категория</th>
                            <th>Счёт</th>
                            <th style="width: 100px">Дата</th>
                            <th style="min-width: 80px;">Сумма</th>
                            <th style="min-width: 80px;">Итого</th>
                            <th>Комментарии</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var transaction in Model.Transactions)
                        {
                            <tr data-id="@transaction.Id" data-is-special="false">
                                <td>@transaction.Id</td>
                                <td>@(transaction.Income ? "Доход" : "Расход")</td>
                                <td>@transaction.Category</td>
                                <td>@transaction.AccountName</td>
                                <td>@transaction.CreatedTime</td>
                                <td class="text-right">@transaction.Amount</td>
                                <td class="text-right">@transaction.Summary</td>
                                <td>@transaction.Description</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

            <div id="list_transactions_footer_container" class="d-flex flex-column hidden-element">
                <hr class="list_divider mb-0">
                <div class="d-flex align-self-end list_total noselect">
                    <span id="list_transactions_footer"></span>
                </div>
            </div>
        </div>


        <div class="d-none d-lg-block mt-2">
            <i class="material-icons item_small_button p-1 mx-0" id="bt_list_type_normal">view_list</i>
            <i class="material-icons item_small_button p-1 mx-1" id="bt_list_type_table">list</i>
        </div>

    </div>
</div>


<div class="dropright menu_holder hidden-element" id="tabular_list_menu_options">
    <div class="dropdown-toggle" data-toggle="dropdown"></div>
    <div class="dropdown-menu">
        <button class="dropdown-item hidden-element" type="button" id="tabular_menu_check">Проверено</button>
        <button class="dropdown-item" type="button" id="tabular_menu_duplicate">Продублировать операцию</button>
        <button class="dropdown-item" type="button" id="tabular_menu_edit">Редактировать операцию</button>
        <button class="dropdown-item" type="button" id="tabular_menu_delete">Удалить операцию</button>
    </div>
</div>



<button id="fab_add_tr_payment" class="btn btn_fab btn_blue hidden-element">
    <img class="material-icons" draggable="false" src="/static/images/other/cash-multiple-white.svg" alt="">
</button>

<button id="fab_add_tr_transfer" class="btn btn_fab btn_blue hidden-element">
    <i class="material-icons">loop</i>
</button>

<button id="fab_add_tr_income" class="btn btn_fab btn_green" style="margin-bottom: 6.7rem;">
    <i class="material-icons">add</i>
</button>

<button id="fab_add_tr_expense" class="btn btn_fab btn_red">
    <i class="material-icons">remove</i>
</button>

<button id="fab_add_tr_general" class="btn btn_fab btn_blue" style="display: none;">
    <i class="material-icons">expand_less</i>
</button>


<div id="modal_add_transaction" class="modal fade show" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-lg">
        <div id="modal_add_tr_content" class="modal-content pt-1 pb-2 px-2">
            <div class="d-flex noselect">
                <span style="width: 42px"></span>
                <p class="modal_title_big mx-auto" id="modal_add_transaction_title">
                    Новый
                    доход
                </p>
                <i class="material-icons navbar_icon float-right mt-2 mr-1" id="i_add_tr_select_template">star</i>
            </div>
            <form id="add_transaction_form" asp-controller="Operations" asp-action="Create" method="post">

                <div class="mt-1 mr-3">

                    <div class="input-group ml-2">
                        <div class="form-group wrap_strict">
                            <label asp-for="CreateViewModel.Amount">Значение</label>
                            <input required asp-for="CreateViewModel.Amount" type="number" value="" class="form-control green" min="0" step="0.01" maxlength="15">
                            <div class="invalid-feedback" id="new_tr_value_error_msg">Неверное значение</div>
                        </div>

                        <div class="input-group-append mt-2 ml-2">
                            <span class="input-group-text" id="new_tr_value_currency" style="padding-bottom: 0px;">UZS</span>
                        </div>

                        <span class="d-flex flex-grow-1 align-self-center ml-4 mr-auto">
                            <span class="input-group-text" id="new_tr_budget_amount_left"></span>
                        </span>
                    </div>


                    <div id="transaction_category_add" data-toggle="modal" data-target="#modal_item_list_prixod" class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <img id="new_tr_category_icon" draggable="false" class="transaction_icon material-icons-48px align-self-center" src="/static/icons/ic_blank_grey.svg">
                            </span>
                        </span>
                        <div class="form-group wrap">
                            <label asp-for="CreateViewModel.CategoryId">Категория</label>
                            <input required asp-for="CreateViewModel.CategoryId" type="hidden" />
                            <input type="text" class="form-control cursor_pointer green is_hint" id="CreateViewModel_CategoryName" value="Выбрать категорию" readonly="">

                            <div class="invalid-feedback">Неверное значение</div>
                        </div>
                    </div>

                    <input required asp-for="CreateViewModel.Income" type="hidden" />

                    <div class="input-group" data-select2-id="24">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons material-icons-48px align-self-center">account_balance</i>
                            </span>
                        </div>
                        <div class="form-group wrap" data-select2-id="23">
                            <label asp-for="CreateViewModel.AccountId">Счёт</label>
                            <select asp-for="CreateViewModel.AccountId" class="form-control" style="width: 100%" tabindex="-1">
                                @foreach (var account in Model.Accounts)
                                {
                                    <option value="@account.Id">@account.Name</option>
                                }
                            </select>
                            <div class="invalid-feedback">Неверное значение</div>
                        </div>

                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons material-icons-48px align-self-center">today</i>
                            </span>
                        </div>
                        <div class="form-group col-5 col-md-4 px-0 mr-3">
                            <label asp-for="CreateViewModel.CreatedTime">Дата</label>
                            <input required asp-for="CreateViewModel.CreatedTime" type="text" class="form-control datepicker green" data-dtp="dtp_6hy5v">
                            <div class="invalid-feedback">Неверное значение</div>
                        </div>

                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons material-icons-48px align-self-center">mode_edit</i>
                            </span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreateViewModel.Description">Комментарии (Необязательно)</label>
                            <textarea asp-for="CreateViewModel.Description" type="text" class="form-control green" maxlength="999" rows="2"></textarea>
                            <div class="invalid-feedback">Ошибка: Значение очень длинное. Максимально 1000 символов</div>
                        </div>
                    </div>


                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button type="button" id="button_add_transaction_cancel" class="btn_general mr-2 btn_green">Отменить</button>
                    <button type="submit" id="button_add_transaction_save" class="btn_general btn_green">Сохранить</button>
                    <button type="button" id="button_add_transaction_save_new" class="btn_general ml-2 btn_green">Сохранить -&gt; +</button>
                </div>
            </form>
        </div>
    </div>
</div>