@model FastBudjet.Web.Models.AccountsViewModel.IndexViewModel
@{
    Layout = "~/Views/Home/_Layout.cshtml";
    ViewData["Header"] = "Счета";
    ViewData["Title"] = "Счета";
}


<div id="accounts_page_container" class="row mt-3 mb-2">
    <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">

        <div id="accounts_page_top_mex" class="w-100 font-weight-bold text-center my-2 hidden-element"></div>

        <div class="d-flex flex-column mt-3 pt-1">
            <div id="accounts_page_top_card" class="d-flex flex-column card_small_body">
                <div  class="d-flex align-self-end list_total row">
                    <span class="mr-2">Всего:</span>
                    <span id="list_accounts_total" class="d-flex align-self-top" style="color:@(Model.Summary.StartsWith("-") ? "#F54C3F;" :  "#4CAF50;")">@Model.Summary UZS</span>
                </div>
                <div class="d-flex justify-content-between">

                    <div id="account_chart_section">
                        <div class="mx-2 my-2">
                            <div style="width: 400px; height: 300px; margin-top: 16px;">
                                <canvas id="accounts_chart" width="400" height="300"></canvas>
                            </div>
                        </div>
                    </div>

                    <div id="list_accounts_total_container" class="d-flex align-self-top list_total row">
                        @*<span class="mr-2">Всего:</span>*@
                        @*<span id="list_accounts_total" class="d-flex align-self-top" style="color:@(Model.Summary.StartsWith("-") ? "#F54C3F;" :  "#4CAF50;")">@Model.Summary UZS</span>*@
                    </div>
                </div>
            </div>

            <div id="list_accounts" class="list-group pt-1">

                @foreach (var account in Model.Accounts)
                {
                    <div class="d-flex w-100 card_small_body account_item item_selector_light" id="template_account_full_container">
                        <div class="d-flex flex-row flex_layout px-1 py-2">


                            <div id="t_account_full_color" class="lateral_band mr-2" style="background-color: rgb(244, 67, 54);">

                            </div>

                            <div class="d-flex flex-column flex_layout">

                                <div class="drag_area" id="t_account_full_click_area">

                                    <div class="d-flex justify-content-between">
                                        <div id="t_account_full_name" class="big_text_2">@account.Name</div>
                                        <div id="t_account_full_value" class="big_text_1" style="color: @(account.Balance < 0 ?  "rgb(244, 67, 54);": "rgb(76, 175, 80);")">@account.Balance&nbsp;UZS</div>
                                    </div>


                                    <div class="d-flex justify-content-between mt-1">
                                        <div class="d-flex align-items-center">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="t_account_full_state_switch">
                                                <label class="custom-control-label" id="t_account_full_state_label" for="t_account_full_state_switch">Обычный</label>
                                            </div>
                                            <i id="t_account_bs_state" class="material-icons hidden-element">sync</i>
                                        </div>


                                        <div class="d-flex align-items-end noselect">

                                            <div class="menu_holder dropdown item_small_button d-flex justify-content-center" id="t_account_full_options">
                                                <div class="d-flex" data-toggle="dropdown">
                                                    <i class="material-icons material-icons-30px align-self-center">more_vert</i>
                                                </div>
                                                <div class="dropdown-menu">
                                                    <button class="dropdown-item" type="button" data-id="@account.Id" id="account_full_edit">Изменить счет</button>
                                                    <button class="dropdown-item" type="button" data-name="@account.Name" data-id="@account.Id" id="account_full_delete">Удалить счет</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="t_account_full_bottom_container"></div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>

    </div>
</div>



<button id="fab_add_new_account" class="btn btn_fab btn_blue">
    <i class="material-icons">add</i>
</button>

<div id="modal_delete_account" class="modal fade" role="dialog" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="modal_message_header">
                <h5 class="modal-title" id="modal_account_delete_header">Удалить банковский счет?</h5>
                <button type="button" class="close" id="modal_message_x_to_close" data-dismiss="modal" aria-label="Назад">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modal_message_content" class="mx-1">Все доходы и расходы, связанные с этим счётом, будут удалены.</p>

                <div class="form-check mt-4 mx-1" id="modal_message_checkbox_parent" style="display: none;">
                    <input class="form-check-input" type="checkbox" value="" id="modal_message_checkbox">
                    <label class="form-check-label" for="modal_message_checkbox" id="modal_message_checkbox_label">Больше не показывать это сообщение.</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn_modal btn_blue mr-1" data-dismiss="modal" data-deftxt="Назад" id="modal_message_close">Назад</button>
                <button type="button" class="btn btn_modal btn_blue" data-dismiss="modal" data-deftxt="OK" id="modal_message_confirmation">OK</button>
            </div>
        </div>
    </div>
</div>


<div id="modal_add_account" class="modal fade" data-backdrop="static" role="dialog">

    <div class="modal-dialog small50 modal-lg">
        <div class="modal-content pt-1 pb-2 px-2">
            <p class="modal_title mx-auto noselect" id="modal_add_account_title">Завести новый счёт</p>
            <form asp-controller="Accounts" asp-action="Create" method="post">
                <div class="mt-1 mx-3">
                    <div class="form-group wrap">
                        <label asp-for="CreateViewModel.Name">Название</label>
                        <input asp-for="CreateViewModel.Name" required type="text" class="form-control wrap" autocomplete="off">
                        <div class="invalid-feedback" id="add_account_name_error_msg"></div>
                    </div>


                    <div class="input-group">
                        <div class="form-group wrap">
                            <label asp-for="CreateViewModel.Balance">Первоначальная сумма</label>
                            <input asp-for="CreateViewModel.Balance" type="number" class="form-control wrap" step="0.01" value="" onKeyPress="if(this.value.length==17) return false;">
                            <div class="invalid-feedback" id="add_account_initial_amount_error_msg">Неверное значение</div>
                        </div>
                        <div class="input-group-append mt-2 ml-2">
                            <span class="input-group-text" id="add_account_initial_amount_currency">UZS</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="CreateViewModel.Description">Комментарии (Необязательно)</label>
                        <textarea asp-for="CreateViewModel.Description" type="text" class="form-control" maxlength="1500" rows="3"></textarea>
                        <div class="invalid-feedback">Ошибка: Значение очень длинное. Максимально 1500 символов</div>
                    </div>

                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" id="button_add_account_cancel" class="btn btn_general btn_blue mr-2">Отменить</button>
                    <button type="submit" id="button_add_account_save" class="btn btn_general btn_blue">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal_update_account" class="modal fade" data-backdrop="static" role="dialog">

    <div class="modal-dialog small50 modal-lg">
        <div class="modal-content pt-1 pb-2 px-2">
            <p class="modal_title mx-auto noselect" id="modal_add_account_title">Изменить счет</p>
            <form asp-controller="Accounts" asp-action="Update" method="post">
                <div class="mt-1 mx-3">

                    <input asp-for="UpdateViewModel.Id" type="hidden" />

                    <div class="form-group wrap">
                        <label asp-for="UpdateViewModel.Name">Название</label>
                        <input asp-for="UpdateViewModel.Name" required type="text" class="form-control wrap" autocomplete="off">
                        <div class="invalid-feedback" id="add_account_name_error_msg"></div>
                    </div>


                    <div class="input-group">
                        <div class="form-group wrap">
                            <label asp-for="UpdateViewModel.Balance">Первоначальная сумма</label>
                            <input asp-for="UpdateViewModel.Balance" type="number" class="form-control wrap" step="0.01" maxlength="15">
                            <div class="invalid-feedback" id="add_account_initial_amount_error_msg">Неверное значение</div>
                        </div>
                        <div class="input-group-append mt-2 ml-2">
                            <span class="input-group-text" id="add_account_initial_amount_currency">UZS</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="UpdateViewModel.Description">Комментарии (Необязательно)</label>
                        <textarea asp-for="UpdateViewModel.Description" type="text" class="form-control" maxlength="1500" rows="3"></textarea>
                        <div class="invalid-feedback">Ошибка: Значение очень длинное. Максимально 1500 символов</div>
                    </div>

                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" id="button_update_account_cancel" class="btn btn_general btn_blue mr-2">Отменить</button>
                    <button type="submit" id="button_update_account_save" class="btn btn_general btn_blue">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            var _labels = [];
            var _data = []
            var _bgcolors = []

            var COLORS = [
                '#4dc9f6',
                '#f67019',
                '#f53794',
                '#537bc4',
                '#acc236',
                '#166a8f',
                '#00a950',
                '#58595b',
                '#8549ba'
            ];

            var i = 1;

            @foreach(var account in Model.Accounts) {
                <text>
                    _labels.push("@Html.Raw(account.Name)")
            _data.push(parseFloat("@account.Balance.ToString().Replace(",", ".")"))
            _bgcolors.push(COLORS[i % COLORS.length]);
                    i++;
                </text>
            }

            new Chart(document.getElementById("accounts_chart"), {
                type: 'doughnut',

                data: {
                    labels: _labels,
                    datasets: [
                        {
                            backgroundColor: _bgcolors,
                            data: _data
                        }
                    ]
                },
                options: {
                    legend: {
                        display: true,
                        position: "right"
                    },
                    plugins: {
                        labels: {
                            render: 'percentage',
                            fontSize: 14,
                            fontStyle: 'bold',
                            fontColor: ['black', 'black'],
                            precision: 2
                        },
                    }
                }
            });

        });

        $("#fab_add_new_account").click(function (e) {
            $("#modal_add_account").modal('toggle');
        })

        $("button#account_full_edit").click(function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id");
            $.get(`/accounts/${id}`, function (data) {

                $("#modal_update_account #UpdateViewModel_Id").val(data["id"])
                $("#modal_update_account #UpdateViewModel_Name").val(data["name"])
                $("#modal_update_account #UpdateViewModel_Balance").val(data["balance"])
                $("#modal_update_account #UpdateViewModel_Description").val(data["description"])

                $("#modal_update_account").modal('toggle');

            });


        })

        $("button#account_full_delete").click(function (e) {
            var id = $(this).attr("data-id");
            var name = $(this).attr("data-name");

            $("#modal_delete_account #modal_account_delete_header").html(`Удалить ${name}?`)
            $("#modal_delete_account #modal_message_confirmation").attr("data-id", id);

            $("#modal_delete_account").modal('toggle');
        })

        $("#modal_delete_account #modal_message_confirmation").click(function (e) {
            var id = $(this).attr("data-id");

            // post delete
            $.post(`/accounts/${id}/delete`, function (data) {
                location.reload();
            })

        })

        $("#modal_delete_account #modal_message_close").click(function (e) {
            $("#modal_delete_account").modal('hide')
        })

        $("#button_add_account_cancel").click(function (e) {
            $("#modal_add_account").modal('hide');
        })

        $("#button_update_account_cancel").click(function (e) {
            $("#modal_update_account").modal('hide');
        })
    </script>
}